@{
    ViewData["Title"] = "My wallet";
}

<div class="text-center">
    <h1 class="display-4">Welcome to one of the best mall...!!</h1>
    <img src="image/Wallet.jpeg" />
    <p>A wallet is a flat case that can be used to carry stuff like some important documents as paper, currency, credit cards, debit cards, driver's license, identification card, club card, etc.), photographs, transit pass, business cards and other paper or laminated cards. Wallets are genrally made up of leather or fabrics. </p>
    <p>Even they are pocket-sized and foldable.</p>
</div>
